body {
    /* background-image: url("https://hd.unsplash.com/photo-1429962714451-bb934ecdc4ec"); */
    background-color: slategrey;
    background-size: cover;
}

.content {
    width: 70em;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: .05em .05em black;
}

#search-results {
    width: 70em;
    display: block;
}

img {
    height: 17em;
    width: 33%;
    display: inline-block;
    border: 1px solid white;
}

#search-term {
    margin-left: 3.7em;
    margin-bottom: 2em;
    padding-left: 12em;
}

#label {
    color: white;
    text-shadow: .1em .05em black;
}

#more-songs, #previous-songs {
    width: 10em; 
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: 28.5em;
    display: none;
}

#more-songs-button, #previous-songs-button {
    width: 14em;
    text-align: center;
}

.navigation {
    margin-bottom: 5em;
}
